
<div class="main-content">
  <main>
      <div class="page-header">
          <h1>Danh sách User</h1>
      </div>
      <div class="page-content">
          <div class="records table-responsive">

              <div class="record-header">
              </div>
              <div>
                  <table width="100%">
                      <thead>
                          <tr>
                              <th>#</th>
                              <!-- <th> CLIENT</th> -->
                              <th> Tên tài khoản</th>
                              <th> Emaill</th>
                              <th> Password</th>
                              <th> Role</th>
                              <th> Option</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr  *ngFor="let user of users ; index as i" >
                              <td>{{ i + 1}}</td>
                              <td>{{ user.name}}</td>
                              <td>{{ user.email}}</td>
                              <td>{{ user.password}}</td>
                              <td>{{ user.role}}</td>
                              <td >
                                  <button class="remove" (click)="onHandleRemove(user._id)" >Xóa</button>
                                  <button class="edit" ><a href="/admin/edit-user/{{user._id}}">Edit</a> </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>

          </div>
      </div>
  </main>
</div>
