
<div class="main-content">
  <main>
      <div class="page-header">
          <h1>Danh sách User</h1>
      </div>
      <div class="page-content">
          <div class="records table-responsive">

              <div class="record-header">
              </div>

              <div>
                  <table width="100%">
                      <thead>
                          <tr>
                              <th>#</th>
                              <!-- <th> CLIENT</th> -->
                              <th> Tên tài khoản</th>
                              <th> Emaill</th>
                              <th> Password</th>
                              <th> Role</th>
                              <th> Option</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr >
                              <td>1</td>
                              <td>Việt Phương</td>
                              <td>phuongnvph21844@fpt.edu.vn</td>
                              <td>12345</td>
                              <td>0</td>
                              <td >
                                  <button class="remove" >Xóa</button>
                                  <button class="edit">Edit</button>
                              </td>
                          </tr>

                      </tbody>
                  </table>
              </div>

          </div>

      </div>

  </main>

</div>
