<div class="movie-detail__container">
    <div class="movies-detail-content">
      <div
        class="bg-movies-detail"
        style="background-image: url(../../../assets/imgs/img1.jpg)"
      >
        <div class="bg-linear"></div>
      </div>
      <div class="movies-detail">
        <div class="movies-detail-img">
          <img src="../../../assets/imgs/card-img1.jpg" alt="" />
        </div>
        <div class="movies-detail-des">
          <h4 class="movies-detail-title">{{movie.name}}</h4>
          <div class="movies-detail-categories">
            <p class="point">{{movie.diem}}</p>
            <div class="categories-movies-detail">
              <p>Animation</p>
              <p>Family</p>
              <p>Adventure</p>
            </div>
          </div>
          <div class="des-detail-movies">
            {{movie.desc}}
          </div>
        </div>
      </div>
      <div class="movies-video">
        <div class="loading-spinner"></div>
        {{movie.video}}
      </div>
    </div>
  </div>
  