<div class="container--add">
        <h2 class="title-add">Thêm Phim</h2>
        <form>
          <div class="form-group">
            <label for="movie-name">Tên phim:</label>
            <input type="text" id="movie-name" name="movie-name" required>
          </div>
          <div class="form-group">
            <label for="movie-image">Ảnh phim:</label>
            <input type="file" id="movie-image" name="movie-image" required>
          </div>
          <div class="form-group">
            <label for="movie-rating">Điểm:</label>
            <input type="number" id="movie-rating" name="movie-rating" required>
          </div>
          <div class="form-group">
            <label for="movie-year">Năm:</label>
            <input type="date" id="movie-year" name="movie-year" required>
          </div>
          <div class="form-group">
            <label for="movie-video">Video:</label>
            <input type="url" id="movie-video" name="movie-video" required>
          </div>
          <div class="form-group">
            <label for="movie-description">Mô tả:</label>
            <textarea id="movie-description" name="movie-description" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <button type="submit">Thêm phim</button>
          </div>
        </form>
      </div>