<div class="container--add">
        <h2 class="title-add">Thêm Phim</h2>
        <form (ngSubmit)="onHanldeAddMovie()" [formGroup]="formMovie">
          <div class="form-group">
            <label for="movie-name">Tên phim:</label>
            <input type="text" id="movie-name" name="movie-name" required formControlName="name">
          </div>
          <div class="form-group">
            <label for="movie-image">Ảnh phim:</label>
            <input type="url" id="movie-image" name="movie-image"
            formControlName="img" required>
          </div>
          <div class="form-group">
            <label for="movie-rating">Điểm:</label>
            <input type="number" id="movie-rating" name="movie-rating" 
            formControlName="diem" required>
          </div>
          <div class="form-group">
            <label for="movie-year">Năm:</label>
            <input type="date" id="movie-year" name="movie-year" formControlName="nam" required>
          </div>
          <div class="form-group">
            <label for="movie-video">Video:</label>
            <input type="url" id="movie-video" formControlName="video" name="movie-video" required>
          </div>
          <div class="form-group">
            <label for="movie-description">Mô tả:</label>
            <textarea id="movie-description" name="movie-description" rows="5" formControlName="desc" required></textarea>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="!formMovie.valid">Thêm phim</button>
          </div>
        </form>
      </div>