<div class="listmovies__container">
        <h4 class="listmovies--title">Popular Movies</h4>
        <div  class="list-movies">
          <div *ngFor="let movies of movies"  
           class="card-movies" style="background-image: url(../../../assets/imgs/card-img1.jpg)">
            <div class="bg-card"></div>
            <p class="card-movies-btn"><a routerLink="/movies/{{movies._id}}">Watch</a></p>
            <div class="card-des">
              <p class="card-point">{{ movies.diem }}</p>
              <p class="card-year">{{ movies.nam }}</p>
              <p class="card-name">{{ movies.name }}</p>
            </div>
          </div>
      </div>
</div>
