<div class="container--add">
  <h2 class="title-add">Cập Nhật Tài Khoản</h2>
  <form (ngSubmit)="onHandleUpadte()" [formGroup]="formUser">
    <div class="form-group">
      <label for="movie-name">Name:</label>
      <input type="text" formControlName="name"  placeholder="Tên" class="form-control">
    </div>
    <div class="form-group">
      <label for="movie-image">Email:</label>
      <input type="text" formControlName="email" placeholder="img"  class="form-control"  >
    </div>
    <div class="form-group">
          <label for="movie-image">Role:</label>
          <select formControlName="role" id="user-role" >
                  <option value="member">Member</option>
                  <option value="admin">Admin</option>
          </select>
        </div>


    <div class="form-group">
      <button type="submit">Submit </button>
    </div>
  </form>
</div>
