
<div class="main-content">
    <main>  
        <div class="page-header">
            <h1>Danh sách Movies</h1>
        </div>
        <div class="page-content">
            <div class="records table-responsive">

                <div class="record-header">
            <button class="add">Thêm Movies</button>

                </div>

                <div>
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <!-- <th> CLIENT</th> -->
                                <th> Tên Phim</th>
                                <th> Ảnh</th>
                                <th> Điểm</th>
                                <th> Video</th>
                                <th> Danh mục</th>
                                <th> Năm</th>
                                <th> Mô tả</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td>1</td>
                                <td>Bom tấn mỹ</td>
                                <td>đẹp</td>
                                <td>60</td>
                                <td>500mb</td>
                                <td>Phim hành động</td>
                                <td>Tạo cảm giác hay</td>
                                <td >
                                    <button class="remove" >Xóa</button> 
                                    <button class="edit">Edit</button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>
        
        </div>
        
    </main>
    
</div>