
<div class="main-content">
    <main>  
        <div class="page-header">
            <h1>Danh sách Movies</h1>
        </div>
        <div class="page-content">
            <div  class="records table-responsive">

                <div class="record-header">
            <button class="add"><a href="admin/add-movies"> Add Movies</a></button>
                </div>
                <div >
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th> Tên Phim</th>
                                <th style="width: 15%; padding-right: 20px;"> Ảnh</th>
                                <th> Điểm</th>
                                <th> Video</th>
                                <th> Năm</th>
                                <th> Mô tả</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let movies of movies ; index as i" >
                                <td>{{i + 1}}</td>
                                <td>{{movies.name}}</td>
                                <td><img src=" ../../../assets/imgs/card-img1.jpg" alt=""></td>
                                <td>{{ movies.diem }}</td>
                                <td>{{ movies.video}}</td>
                                <td>{{ movies.nam }}</td>
                                <td>{{movies.desc}}</td>
                                <td >
                                    <button class="btn btn-danger"(click)="removeItem(movies._id)!"> Xóa </button>
                                    <a [routerLink]="'edit-movies/' + movies._id"><button class="edit">Sửa</button></a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>
        
        </div>
        
    </main>
    
</div>