<form action="" class="form-login" (ngSubmit)="onHandleLogin()" [formGroup]="formLogin">
  <h5 class="title-login">Đăng nhập</h5>
  <div class="user-box">
          <input type="email" name="email" required="" formControlName="email">
          <label>Email</label>
  </div>
  <div class="user-box">
          <input type="password" name="" required="" formControlName="password">
          <label>Password</label>
  </div>
  <button type="submit" class="btn-login">Đăng nhập</button>
  <div class="login-des">
  <p>Bạn mới tham gia PriatedMovies?</p><a href="signup">Đăng kí ngay</a>


  </div>
</form>

