<div class="container--add">
    <h2 class="title-add">Cập Nhật Phim</h2>
    <form>
      <div class="form-group">
        <label for="movie-name">Tên phim:</label>
        <input type="text" formControlName="name"  placeholder="Tên" class="form-control">
      </div>
      <div class="form-group">
        <label for="movie-image">Ảnh phim:</label>
        <input type="file" formControlName="img" placeholder="img"  class="form-control"  >
      </div>
      <div class="form-group">
        <label for="movie-rating">Điểm:</label>
        <input type="number"  formControlName="diem" placeholder="Điểm"   class="form-control">
      </div>
      <div class="form-group">
        <label for="movie-year">Năm:</label>
        <input type="date"  formControlName="nam" placeholder="Ảnh"  class="form-control">
      </div>
      <div class="form-group">
        <label for="movie-video">Video:</label>
        <input type="text"  formControlName="video" placeholder="Video"  class="form-control">
      </div>
      <div class="form-group">
        <label for="movie-description">Mô tả:</label>
        <textarea  formControlName="desc" placeholder="Mô tả" rows="5" ></textarea>
      </div>
      <div class="form-group">
        <button type="submit">Cập Nhật</button>
      </div>
    </form>
  </div>